/*====================== header ======================*/

.header {
  color: #fff;
  background-color: $black;
  height: 91px;
  nav,
  ul {
    height: 100%;
  }
  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  li {
    list-style: none;
    font-size: 24px;
  }
  &-nav__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #e60000;
  }
}
