/*====================== dashboard ======================*/
.dashboard {
  display: flex;
  flex-direction: column;
  position: relative;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  padding: resWidth(69) resWidth(90) resWidth(88) resWidth(109);
  gap: resWidth(30);

  &-header {
    h1 {
      font-size: 48px;
      span {
        color: #ff0101;
      }
    }
    p {
      padding: 41px 0 47px 0;
    }
  }
  &-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .sessions,
  .performance,
  .score {
    width: resWidth(258);
    height: resWidth(263);
  }
  &-container {
    display: flex;
    width: 100%;
    & div:first-child {
      display: flex;
      flex-wrap: wrap;
      gap: resWidth(30);
    }
  }
}
@media screen and (max-width: 1024px) {
  .dashboard {
    &-info {
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
    }
    &-container {
      flex-direction: column-reverse;
      & div:first-child {
        gap: 10%;
      }
    }
  }
}
@media screen and (max-width: 425px) {
  .dashboard {
    padding: resWidth(35) resWidth(45) resWidth(44) resWidth(55);
  }
}
