/*====================== layouts ======================*/
/*====== header ======*/
.header {
  color: #fff;
  background-color: $black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: resWidth(91);

  padding: 0 resWidth(30) 0 resWidth(10);
  nav,
  ul {
    height: 100%;
    width: 100%;
  }
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    //padding: 0 resWidth(87);
  }
  li {
    list-style: none;
    font-size: resWidth(24);
  }
  &-logo {
    display: flex;
    align-items: center;
    gap: resWidth(10);
    color: #e60000;
    width: resWidth(268);
    height: resWidth(50);
    font-size: resWidth(24);
    padding-left: resWidth(28);
    & img {
      height: 100%;
    }
  }
}
/*====== outlet ======*/
.outlet {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  width: 100%;
  height: calc(100vh - resWidth(91));
  main {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }
}
/*====== footer ======*/
.footer {
  position: relative;
  background-color: $black;
  height: 100%;
  width: resWidth(117);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  ul {
    display: grid;
    gap: resWidth(20);
    padding-bottom: resWidth(60);
  }
  li {
    list-style: none;
  }
  li img {
    width: resWidth(64);
    height: resWidth(64);
  }
  p {
    position: absolute;
    bottom: resWidth(91);
    color: #fff;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: resWidth(12);
    transform: rotate(-90deg);
    width: max-content;
    margin-top: resWidth(300);
  }
}

@media (orientation: landscape) and (max-height: 91.5vw) {
  .footer,
  .outlet main {
    //height: resWidth(933) !important;
  }
}
