/*====================== card ======================*/
.card {
  width: resWidth(258);
  height: resWidth(124);
  background-color: #fbfbfb;
  padding: resWidth(32);
  display: flex;
  align-items: center;
  gap: 24px;
  border-radius: 5px;
  font-family: 'Roboto';
  font-style: normal;
  div {
    width: 10%;
  }
  h3 {
    font-weight: 700;
    color: #282d30;
  }
  p {
    margin-top: 5px;
    font-size: 14px;
    color: #74798c;
  }
}
@media screen and (max-width: 1024px) {
}
